body {
  font-family: sans-serif;
  font-family: Verdana;
}

h1 {
  font-size: 18px;
}

table {
  border-collapse: collapse;
  font-size: 10px;
}

legend, label {
  font-size: 12px;
}

th {
  background-color: green;
  color: white;
}

th, td {
  padding: 8px 8px 8px 8px;
  text-align: left;

}

tr:nth-child(even){
  background-color: #f2f2f2;
}

td:first-child, td:nth-child(2) {
  background-color:green;
  color:white;
  font-weight:bold;
}
