body {
  font-family: sans-serif;
  font-family: Verdana;
}

h1 {
  font-size: 18px;
}

table {
  border-collapse: collapse;
  font-size: 10px;
}

.inputblock {
  /*margin-left:30%; */
  height:177px;
  width:320px;
  border:1px solid #5A352D;
  border-radius: 5px;
}

h4 {
  width:inherit;
  background-color: #5A352D;
  color:white;
  padding: 10px 0px 10px 0px;
  text-align: center;
  margin: 0px;
}

form {
  border-top:-10px;
  background-color: #DDDDDD;
  border: 1px solid #5A352D;
}

fieldset {
  background-color: red;
  width:inherit;
  color:green;
  padding:2px 2px 0px 2px;
  border:1px solid #DDDDDD;
}

legend {
  padding-left:5px;
  font-size: 14px;
  font-weight:bold;
  background-color: #DDDDDD;
}

label, button {
  font-size: 12px;
  padding: 4px;
}

ul {
  width:inherit;
  list-style: none;
  margin:10px 0px 10px -15px;
}

li {
  padding-right:5px 0px 5px 5px;
  margin-bottom: 5px;
}

input {
  border:1px solid #999999;
  width:120px;
  padding:5px;
}

.kioskloc {
  width:260px;
}

button {
  font-size: 12px;
  font-weight: bold;
  background-color: white;
  color: #5A352D;
  width:270px;
  border-top: 1px solid #green;
}

th {
  background-color: #5A352D;
  color: white;
}

th, td {
  padding: 8px 8px 8px 8px;
  text-align: left;

}

tr:nth-child(even){
  background-color: #f2f2f2;
}

td:first-child, td:nth-child(2) {
  background-color:#5A352D;
  color:white;
  font-weight:bold;
}
